<form action="/search/" id="mainSearchForm">
    <input type="hidden" id="extSearch" value="0">
    <div class="form-search__main">
        <!--primary-->
        <div class="primary-column">
            <div class="m-rows">
                <label class="m-label">Транспорт:</label>
                <div class="m-indent">
                    <select class="e-form" id="categories" name="category_id" data-field="category" data-placeholder="Любой">
                        <option value="0">Любой</option>
                        <option value="1">Легковые</option>
                        <option value="6">Грузовики</option>
                        <option value="4">Спецтехника</option>
                        <option value="2">Мото</option>
                        <option value="7">Автобусы</option>
                        <option value="5">Прицепы</option>
                        <option value="3">Водный транспорт</option>
                        <option value="8">Автодома</option>
                        <option value="9">Воздушный транспорт</option>

                    </select>
                </div>
            </div>

            <div class="m-rows">
                <label class="m-label">Марка:</label>

                <div class="m-indent">
                    <select class="e-form" id="marks" name="marka_id" data-field="brand" data-placeholder="Марка ">
                        <option value="0">Марка</option>
                        <option value="98">Acura (193)</option>
                        <option value="2396">Adler (1)</option>
                        <option value="2">Aixam (4)</option>
                        <option value="3">Alfa Romeo (364)</option>
                        <option value="100">Alpine (1)</option>
                        <option value="3988">Altamarea (2)</option>
                        <option value="101">Aro (20)</option>
                        <option value="4">Asia (13)</option>
                        <option value="5">Aston Martin (21)</option>
                        <option value="6">Audi (7591)</option>
                        <option value="7">Austin (8)</option>
                        <option value="102">Autobianchi (1)</option>
                        <option value="103">Barkas (Баркас) (23)</option>
                        <option value="1540">Baw (10)</option>
                        <option value="105">Beijing (2)</option>
                        <option value="8">Bentley (75)</option>
                        <option value="106">Bertone (1)</option>
                        <option value="9">BMW (9733)</option>
                        <option value="211">BOVA (12)</option>
                        <option value="329">Brilliance (19)</option>
                        <option value="109">Bugatti (6)</option>
                        <option value="110">Buick (22)</option>
                        <option value="386">BYD (123)</option>
                        <option value="11">Cadillac (137)</option>
                        <option value="407">Chana (29)</option>
                        <option value="1580">Changan (1)</option>
                        <option value="1567">Changhe (16)</option>
                        <option value="190">Chery (2106)</option>
                        <option value="13">Chevrolet (5669)</option>
                        <option value="14">Chrysler (621)</option>
                        <option value="15">Citroen (3458)</option>
                        <option value="17">Dacia (545)</option>
                        <option value="198">Dadi (90)</option>
                        <option value="18">Daewoo (6632)</option>
                        <option value="115">Daf (1656)</option>
                        <option value="1441">DAF / VDL (7)</option>
                        <option value="19">Daihatsu (156)</option>
                        <option value="20">Daimler (1)</option>
                        <option value="4206">Datsun (1)</option>
                        <option value="2243">DKW (2)</option>
                        <option value="118">Dodge (590)</option>
                        <option value="308">Dongfeng (206)</option>
                        <option value="120">Eagle (8)</option>
                        <option value="121">FAW (203)</option>
                        <option value="22">Ferrari (22)</option>
                        <option value="23">Fiat (5056)</option>
                        <option value="3444">Fisker (2)</option>
                        <option value="24">Ford (9801)</option>
                        <option value="25">FSO (5)</option>
                        <option value="197">FUQI (4)</option>
                        <option value="185">Geely (1506)</option>
                        <option value="123">GMC (49)</option>
                        <option value="183">Gonow (16)</option>
                        <option value="124">Great Wall (370)</option>
                        <option value="1575">Groz (29)</option>
                        <option value="191">Hafei (9)</option>
                        <option value="1784">Hanomag (8)</option>
                        <option value="28">Honda (5303)</option>
                        <option value="2595">Huabei (4)</option>
                        <option value="388">Huanghai (11)</option>
                        <option value="3002">Humber (1)</option>
                        <option value="127">Hummer (73)</option>
                        <option value="29">Hyundai (6212)</option>
                        <option value="128">Infiniti (396)</option>
                        <option value="4273">Innocenti (1)</option>
                        <option value="3821">Iran Khodro (1)</option>
                        <option value="30">Isuzu (176)</option>
                        <option value="175">Iveco (1361)</option>
                        <option value="317">JAC (204)</option>
                        <option value="31">Jaguar (209)</option>
                        <option value="1590">JCB (305)</option>
                        <option value="32">Jeep (710)</option>
                        <option value="2231">Jinbei (1)</option>
                        <option value="3018">JMC (1)</option>
                        <option value="1574">Jonway (2)</option>
                        <option value="412">Karosa (9)</option>
                        <option value="33">Kia (3908)</option>
                        <option value="2676">King Long (3)</option>
                        <option value="35">Lamborghini (16)</option>
                        <option value="36">Lancia (156)</option>
                        <option value="37">Land Rover (1230)</option>
                        <option value="406">Landwind (12)</option>
                        <option value="134">LDV (87)</option>
                        <option value="38">Lexus (1589)</option>
                        <option value="334">Lifan (140)</option>
                        <option value="135">Lincoln (168)</option>
                        <option value="41">Lotus (1)</option>
                        <option value="45">Maserati (36)</option>
                        <option value="46">Maybach (9)</option>
                        <option value="47">Mazda (4670)</option>
                        <option value="3101">McLaren (3)</option>
                        <option value="1904">MEGA (12)</option>
                        <option value="48">Mercedes-Benz (21917)</option>
                        <option value="144">Mercury (179)</option>
                        <option value="49">MG (88)</option>
                        <option value="147">MINI (170)</option>
                        <option value="52">Mitsubishi (6736)</option>
                        <option value="53">Morgan (1)</option>
                        <option value="55">Nissan (6460)</option>
                        <option value="2045">Nysa (Ныса) (2)</option>
                        <option value="148">Oldsmobile (10)</option>
                        <option value="56">Opel (12023)</option>
                        <option value="346">Peterbilt (3)</option>
                        <option value="58">Peugeot (4971)</option>
                        <option value="181">Plymouth (10)</option>
                        <option value="149">Pontiac (72)</option>
                        <option value="59">Porsche (729)</option>
                        <option value="60">Proton (3)</option>
                        <option value="1332">Quicksilver (11)</option>
                        <option value="62">Renault (12212)</option>
                        <option value="63">Rolls-Royce (22)</option>
                        <option value="64">Rover (191)</option>
                        <option value="65">Saab (113)</option>
                        <option value="3437">Saipa (7)</option>
                        <option value="192">Samand (83)</option>
                        <option value="325">Samsung (18)</option>
                        <option value="331">Saturn (14)</option>
                        <option value="3268">Scion (7)</option>
                        <option value="67">Seat (967)</option>
                        <option value="2492">Secma (1)</option>
                        <option value="1726">Selena (1)</option>
                        <option value="195">Shuanghuan (3)</option>
                        <option value="70">Skoda (5455)</option>
                        <option value="311">SMA (42)</option>
                        <option value="71">Smart (1246)</option>
                        <option value="194">SouEast (9)</option>
                        <option value="411">Spyker (1)</option>
                        <option value="73">SsangYong (773)</option>
                        <option value="214">Star (3)</option>
                        <option value="75">Subaru (1786)</option>
                        <option value="76">Suzuki (2182)</option>
                        <option value="77">Talbot (3)</option>
                        <option value="2497">Tarpan Honker (3)</option>
                        <option value="78">TATA (122)</option>
                        <option value="204">Tatra (33)</option>
                        <option value="2233">Tesla (76)</option>
                        <option value="4237">Think Global (1)</option>
                        <option value="1578">Tianma (3)</option>
                        <option value="2050">Tiger (3)</option>
                        <option value="79">Toyota (7138)</option>
                        <option value="345">Trabant (7)</option>
                        <option value="80">Triumph (24)</option>
                        <option value="206">Van Hool (105)</option>
                        <option value="82">Vauxhall (1)</option>
                        <option value="84">Volkswagen (19692)</option>
                        <option value="85">Volvo (1728)</option>
                        <option value="2021">Wanderer (3)</option>
                        <option value="2403">Wanfeng (2)</option>
                        <option value="339">Wartburg (59)</option>
                        <option value="1820">Willys (9)</option>
                        <option value="2653">Wuling (4)</option>
                        <option value="338">Xin kai (5)</option>
                        <option value="87">Yugo (5)</option>
                        <option value="2309">Zastava (3)</option>
                        <option value="315">Zhong (2)</option>
                        <option value="2958">Zimmer (4)</option>
                        <option value="3610">Zotye (10)</option>
                        <option value="3089">Zuk (8)</option>
                        <option value="322">ZX (48)</option>
                        <option value="173">АВИА (1)</option>
                        <option value="188">Богдан (373)</option>
                        <option value="88">ВАЗ (24215)</option>
                        <option value="90">ВИС (3)</option>
                        <option value="91">ГАЗ (5286)</option>
                        <option value="410">ГолАЗ (1)</option>
                        <option value="3636">Детский транспорт (1)</option>
                        <option value="165">Другое (293)</option>
                        <option value="170">ЕРАЗ (16)</option>
                        <option value="169">Жук (2)</option>
                        <option value="89">ЗАЗ (4184)</option>
                        <option value="168">ЗИЛ (1297)</option>
                        <option value="1544">ЗИМ (21)</option>
                        <option value="186">ЗИС (1)</option>
                        <option value="92">ИЖ (843)</option>
                        <option value="189">ЛуАЗ (279)</option>
                        <option value="94">Москвич / АЗЛК (969)</option>
                        <option value="327">РАФ (82)</option>
                        <option value="199">Ретро автомобили (84)</option>
                        <option value="2863">Самодельный (336)</option>
                        <option value="96">СеАЗ (2)</option>
                        <option value="2491">СМЗ (11)</option>
                        <option value="153">Трактор (22)</option>
                        <option value="93">УАЗ (1000)</option>
                        <option value="390">ХАЗ (Анторус) (30)</option>
                    </select>
                </div>
            </div>

            <!-- with photo -->
            <div class="m-rows">
                <label class="m-label">Модель:</label>

                <div class="m-indent">
                    <select class="e-form" id="models" name="model_id" data-field="model" data-placeholder="Модель"><option value="0">Модель</option></select>
                </div>
            </div>
            <!-- with video -->
            <div class="m-rows hide">
                            <span class="checkrows">
                                <input type="checkbox" name="with_video" id="with_video" value="1">
                                <label for="with_video">
                                    <i class="icon-video-white"></i>
                                    Только с видео
                                </label>
                            </span>
            </div>

            <!-- with damage -->

            <!-- top advertisemens -->
            <div class="m-rows hide">
                            <span class="checkrows">
                                <input type="checkbox" name="top_adv" id="top_adv" value="1">
                                <label for="top_adv">
                                    <i class="icon-photo-white"></i>
                                    ТОП-объявления
                                </label>
                            </span>
            </div>
            <!-- exchange is possible to auto-->



        </div>
        <!--end primary-->

        <!--secondary-->
        <div class="secondary-column">
            <!-- made in -->
            <div class="m-rows hide">
                <label class="m-label">Страна:</label>
                <div class="m-indent">
                    <select class="e-form" id="country" name="country[0]" data-field="category" data-placeholder="Страна">
                        <option value="0">Страна</option>
                        <option value="40">Австрия</option>
                        <option value="826">Англия</option>
                        <option value="32">Аргентина</option>
                        <option value="112">Беларусь</option>
                        <option value="56">Бельгия</option>
                        <option value="100">Болгария</option>
                        <option value="76">Бразилия</option>
                        <option value="348">Венгрия</option>
                        <option value="276">Германия</option>
                        <option value="208">Дания</option>
                        <option value="356">Индия</option>
                        <option value="364">Иран</option>
                        <option value="724">Испания</option>
                        <option value="380">Италия</option>
                        <option value="398">Казахстан</option>
                        <option value="124">Канада</option>
                        <option value="158">Китай</option>
                        <option value="408">Корея</option>
                        <option value="428">Латвия</option>
                        <option value="440">Литва</option>
                        <option value="442">Люксембург</option>
                        <option value="458">Малайзия</option>
                        <option value="498">Молдова</option>
                        <option value="528">Нидерланды</option>
                        <option value="578">Норвегия</option>
                        <option value="616">Польша</option>
                        <option value="620">Португалия</option>
                        <option value="643">Россия</option>
                        <option value="642">Румыния</option>
                        <option value="688">Сербия</option>
                        <option value="703">Словакия</option>
                        <option value="705">Словения</option>
                        <option value="840">США</option>
                        <option value="792">Турция</option>
                        <option value="860">Узбекистан</option>
                        <option value="804">Украина</option>
                        <option value="246">Финляндия</option>
                        <option value="250">Франция</option>
                        <option value="203">Чехия</option>
                        <option value="756">Швейцария</option>
                        <option value="752">Швеция</option>
                        <option value="233">Эстония</option>
                        <option value="392">Япония</option>

                    </select>
                </div>
            </div>
            <!-- driven from -->

            <!-- regions -->
            <div class="m-rows">
                <label class="m-label">Регион:</label>
                <div class="m-indent">
                    <select class="e-form" id="regionCenters" name="state[0]" data-field="state[0]" data-placeholder="Регион">
                        <option value="0">Регион</option>
                        <option value="1">Винница</option>
                        <option value="11">Днепропетровск</option>
                        <option value="13">Донецк</option>
                        <option value="2">Житомир</option>
                        <option value="14">Запорожье</option>
                        <option value="15">Ивано-Франковск</option>
                        <option value="10">Киев</option>
                        <option value="16">Кировоград</option>
                        <option value="17">Луганск</option>
                        <option value="18">Луцк</option>
                        <option value="5">Львов</option>
                        <option value="19">Николаев</option>
                        <option value="12">Одесса</option>
                        <option value="20">Полтава</option>
                        <option value="9">Ровно</option>
                        <option value="21">Симферополь</option>
                        <option value="8">Сумы</option>
                        <option value="3">Тернополь</option>
                        <option value="22">Ужгород</option>
                        <option value="7">Харьков</option>
                        <option value="23">Херсон</option>
                        <option value="4">Хмельницкий</option>
                        <option value="24">Черкассы</option>
                        <option value="6">Чернигов</option>
                        <option value="25">Черновцы</option>

                    </select>
                </div>
            </div>
            <!-- cities-->


            <!-- body types-->

            <!-- colors -->

            <!-- gearboxes-->

            <!-- fuels-->

            <!-- engine volume-->
            <div class="m-rows hide">
                <label for="engineVolumeTo" class="m-label">Объем:</label>
                <div class="m-indent">
                    <div class="flex-group-form">
                        <div class="middle">
                            <input class="e-form" type="text" name="engineVolumeFrom" id="engineVolumeFrom" placeholder="от">
                        </div>
                        <div class="middle">
                            <input class="e-form" type="text" name="engineVolumeTo" id="engineVolumeTo" placeholder="до">
                        </div>
                    </div>
                </div>
            </div>

            <!-- years-->



        </div>
        <!--end secondary-->

    </div>


</form>


<?= $form->field($subcat,'category_id')->hiddenInput(['value'=>'2'])->label(false); ?>
<?= $form->field($subcat, 'title')->dropDownList(
ArrayHelper::map(\common\models\Subcategory::find()->where(['category_id' => 2/*$category['id']*/])->all(), 'id', 'title'),
['prompt' => 'Выберете категорию', 'id' => 'sub_cat']
)->label(false); ?>
<div class="form-group field-sub_cat has-success">
    <select id="model" class="form-control" name="model">
        <option value>Выберете марку:</option>
        <?php
                                        foreach($option->model as $value) {
        echo '<option value = "'.$value.'" >'.$value.'</option >';
        }
        ?>
    </select>
</div>










<select>
    <option>Автозапчасти</option>
    <option>Аксессуары для авто</option>
    <option>Мото аксессуары</option>
    <option>Мотозапчасти</option>
    <option>Шины / диски</option>
    <option>Автозвук</option>
    <option>GPS-навигаторы / авторегистраторы</option>
    <option>Запчасти для спец / с.х. техники</option>
    <option>Транспорт на запчасти</option>
    <option>Прочие запчасти</option>
</select>



